APP_ENV=local
APP_KEY=base64:nn047QA0hOQdgUEvA5bQb2l8JPn3vlBo/+H4q8Jalzs=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
FORCE_HTTPS=false
APP_LOCALE=en
FALLBACK_LOCALE_FOR_DB=en

DB_CONNECTION=mysql
DB_URL=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laraclassifier
DB_USERNAME=root
DB_PASSWORD=
DB_SOCKET=
DB_TABLES_PREFIX=
DB_CHARSET=utf8
DB_COLLATION=utf8_unicode_ci
DB_DUMP_BINARY_PATH=

IMAGE_DRIVER=gd

CACHE_STORE=file
QUEUE_CONNECTION=database

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

REDIS_CLIENT=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

LOG_CHANNEL=daily
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
LOG_DAILY_DAYS=2

DISABLE_USERNAME=true

PAYPAL_MODE=
PAYPAL_USERNAME=
PAYPAL_PASSWORD=
PAYPAL_SIGNATURE=
